/* ChatNavbar.css */

.chat-navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.6%;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-left: 0.3em;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.camera-icon,
.call-icon,
.ellipsis-icon {
  font-size: 24px;
  cursor: pointer;
}
