.ChatPage {
  height: 600px;
}
.text {
  resize: none;
  width: 499px;
  padding: 0.5em 0.8em;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 250px;
  width: 900px;
  height: 600px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.ChatPage-container {
  height: 100%;
  width: 600px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.ChatPage-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90%;
}

.message {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.ChatPage-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 500px;
}

.text-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.message-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-content {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  font-weight: bold;
  margin-right: 5px;
}

.message-body {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
}

.message-time {
  color: #be3535;
  font-size: 12px;
}
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  border: none;
}
.delete-button:hover {
  background-color: #bd2130;
}
.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  transform: translateY(-0.33em);
}

button:active .button_top {
  transform: translateY(0);
}
.signout-btn {
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 10px;
  color: white;
  border: none;
  border-radius: var(--button_radius);
  background: transparent;
}
.navbar-container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  height: 50px;
  /* flex: 2; */
}
.chat-name {
  margin-left: 0.4em;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 0;
}
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  vertical-align: middle;
}
.navbar-img {
  width: 20px;
  border-radius: 48%;
}
.user-info p {
  margin-bottom: 0;
  color: white;
}
.user-info button {
  margin-right: 1em;
  width: 40px;
  height: 20px;
  font-size: 0.6em;
  color: white;
  border: none;
  background-color: black;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
